@font-face {
    font-family: "Open Sans Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/open-sans-cyrillic-regular.woff2") format("woff2");
}
@font-face {
    font-family: "Open Sans Bold";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("../fonts/open-sans-cyrillic-bold.woff2") format("woff2");
}

$bg-color: #ffffff;
$header-color: #f2f2f2;
$fontRegular: "Open Sans Regular";
$fontBold: "Open Sans Bold";
$darkGrey: #424242;
$lightGrey: #595959;
$lightSkyBlue: #dde2e6;
$brown-gray: #8b8b8b;
$brownish-gray: #727272;
$attention: #ff4343;
$light-gray-blue: #abb2b7;
$lightBlack: #1f1f1f;
$green: #75af26;
$video-color: #f3f3f3;

body {
    margin: 0;
    padding: 0;
    background-color: $bg-color;
    font-family: $fontRegular;
}

li {
    list-style-type: none;
   }
a {
    text-decoration: none;
}
h1 {
    font-family: $fontBold;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

