.header {
    background-color: $header-color;
    display: flex;
    align-items: center;
    z-index: 30;
    position: sticky;
    top: 0;
    
    

    &__nav {
        display: flex;
        width: 100%;
        justify-content: space-around;

    }
}
.logo {
    padding: 0.5% 0;
}
.lang {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    
    &__item {
        text-transform: uppercase;
        color: $brown-gray;
        font-size: 0.8em;
        padding: 0 20%; 
        
        &--selected {
            color: $darkGrey;
            font-weight: 600;
        }
    }
}