.header {
    background-color: #f2f2f2;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    align-items: center;

    &__nav {
        display: flex;
        width: 100%;

    }
}
.lang {
    display: flex;
    // align-self: flex-end;
 
}