
.main {
    // padding-top: 7%;
    & article {
        margin: 7%;
    }
    &__step {
        color: $darkGrey;
        font-size: 0.9em;
    }
    &__header {
        color: $darkGrey;
        line-height: 6.5vh; /////////////
        font-size: 5.7vh; ////////////
        font-weight: normal;
        margin-top: 1%;
    }
    &__subtitle {
        font-family: $fontBold;
        color: $darkGrey;
        font-size: 1.2em;
        font-weight: 900;

    }
    &__description {
        color: $lightGrey;
        padding-left: 0;
        &--bold {
            font-family: $fontBold;
        }
    }
    &__rules, &__start, &__questions {
        // display: flex;
        // flex-direction: column;

    }
    &__settings {
        // margin: 7%;

        &__access {
            padding: 0;
          

        }
    
    }
    &__content {
        margin: 0;
    }
    
    &__button {
        background-color: $lightSkyBlue;
        text-transform: uppercase;
        border: 0;
        font-family: $fontBold;
        font-weight: 500;
        padding: 5% 0; 
        width: 100%;
        margin-top: 2%;
        // order: 1;
        

    }
   
    
    
}
.access__item {
    display: flex;
    // justify-content: center;
    align-items: center;
    &__camera {
        // list-style-image: url(../img/camera.svg);
    }
    &__micro {

    }



    &__text {
        font-family: $fontBold;
        color: $darkGrey;
        font-size: 0.8em;
        font-weight: 900;
    }
    &__img {
        padding-right: 1%;
    }
}

.rules__list {
    &__item {
        list-style-type: disc;
        font-family: $fontBold;
        color: $lightGrey;
    }
}
.question__list {
    padding-left: 7%;
    color: $lightGrey;
    &__item {
        // padding-bottom: 5%;
        line-height: 2;

        list-style-type: decimal;
    }
}
.remember {
    background-color: #f3f3f3;
    color: $lightGrey;
    padding: 3%;
    font-size: 0.8em;
    border-radius: 8px;
    &__title {
        text-transform: uppercase;
        color: $attention;
        font-family: $fontBold;
    }

}

.main__media {
    width: 100%;
    background-color: $video-color;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    &__recorded {
        filter: grayscale(0.8) brightness(0.6);

    }
    
    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    
    &__content{
        position: absolute;
        width: 70%;
        height: 70%;
        clip-path: inset(0% 10% 0% 10%);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    
    }
    &__full {
        background-color: #fff;
        &-video {
            width: 100vw;
            // box-sizing: border-box;
            clip-path: inset(0% 8% 0% 8%);
            height: 100%;
            
            // display: block;
        }
    }
    &__ready {
        position: absolute;
        top: 0;
        left: 5%;
        background-color: #fff;
        border-radius: 17px;
        z-index: 21;
        font-family: $fontRegular;
        font-weight: 600;
        color: $darkGrey;
        letter-spacing: 2px;
        padding: 8px 15px;

    &-full {
        top: 5%;
    }    
    }

}
.play {
    position: absolute;
    // background-color: #424242;
    width: 100%;
    // opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__text {
        color: #fff;
        font-size: 4vw;

    }
    &__img {
       width: 30%;
    }
}