
.main {
   
    &__step {
        color: $darkGrey;
        font-size: 0.9em;
    }
    &__header {
        color: $darkGrey;
        line-height: 6.5vh; /////////////
        font-size: 5.7vh; ////////////
        font-weight: normal;
        margin-top: 1%;
    }
    &__subtitle {
        font-family: $fontBold;
        color: $darkGrey;
        font-size: 1.2em;
        font-weight: 900;

    }
    &__description {
        color: $lightGrey;
        padding-left: 0;
        &--bold {
            font-family: $fontBold;
        }
    }
    &__rules, &__start, &__settings, &__questions {
        margin: 7%;

    }
    &__settings {

        &__access {
            padding: 0;
          

        }
    
    }
    &__content {
        margin: 0;
    }
    
    &__button {
        background-color: $lightSkyBlue;
        text-transform: uppercase;
        border: 0;
        font-family: $fontBold;
        font-weight: 500;
        width: 100%;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        cursor: pointer;
        height: 56px;
        color: $darkGrey;
        font-size: 0.8em;
        
        

    }
    &__questions {
        display: grid;
    }
   
    
    
}
.access__item {
    display: flex;
    align-items: center;
    &__text {
        font-family: $fontBold;
        color: $darkGrey;
        font-size: 0.8em;
        font-weight: 900;
    }
    &__img {
        padding-right: 1%;
    }
}

.rules__list {
    &__item {
        list-style-type: disc;
        font-family: $fontBold;
        color: $lightGrey;
    }
}
.question__list {
    padding-left: 7%;
    color: $lightGrey;
    &__item {
        line-height: 1.8;

        list-style-type: decimal;
    }
}
.remember {
    background-color: #f3f3f3;
    color: $lightGrey;
    padding: 3%;
    font-size: 0.8em;
    border-radius: 8px;
    &__title {
        text-transform: uppercase;
        color: $attention;
        font-family: $fontBold;
    }

}

.main__media {
    width: 100%;
    background-color: $video-color;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    
    &__content{
        width: 50%;
        height: 50%;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    
    }
    &__full {
        width: 100%;
        position: relative;
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 3%;
        &-video {
            width: 100%;
            height: auto;
        }
        
    }
    &__ready {
        position: absolute;
        top: 0;
        left: 5%;
        background-color: #fff;
        border-radius: 17px;
        z-index: 21;
        font-family: $fontRegular;
        font-weight: 600;
        color: $darkGrey;
        letter-spacing: 2px;
        padding: 10px 15px;
        text-transform: uppercase;
        font-size: 0.8em;

    }
    &__countdown {
        justify-self: end;
    }

}
.play {
    position: absolute;
    background-color: #424242;
    width: 100%;
    opacity: 0.75;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__text {
        color: #fff;
        font-size: 4vw;

    }
    &__img {
       width: 30%;
    }
}
.countdown {
    
    &__time {
        background-color: $video-color;
        font-family: $fontBold;
        color: $darkGrey;
        font-size: 1.3em;
        padding: 2px 8px;
        border-radius: 8px;
    }
}
.pulse-point {
    display: none;
    position: absolute;
    top: 21px;
    left: 21px;
    width: 20px;
    height: 20px;
    z-index: 21;
    border-radius: 50%;
    background-color: #ff5d5d;
    box-shadow: 0 0 0 rgba(255, 93, 93, 0.6);
    -webkit-animation: pulseRecordBefore 2s infinite;
    -moz-animation: pulseRecordBefore 2s infinite;
    -o-animation: pulseRecordBefore 2s infinite;
    animation: pulseRecordBefore 2s infinite;
}
@-webkit-keyframes pulseRecordBefore {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 93, 93, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 93, 93, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 93, 93, 0);
  }
}
@keyframes pulseRecordBefore {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 93, 93, 0.8);
    box-shadow: 0 0 0 0 rgba(255, 93, 93, 0.8);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 93, 93, 0);
    box-shadow: 0 0 0 10px rgba(255, 93, 93, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 93, 93, 0);
    box-shadow: 0 0 0 0 rgba(255, 93, 93, 0);
  }
}
