.main {
    margin: 7%;
    &__header {
        font-size: 1.5em;
        line-height: 1.2;
    }
    &__contacts {
        margin-top: 7%;
        &__title {
            font-family: $fontBold;
            text-transform: uppercase;
            color: $darkGrey;
        }
        &__tel, &__mail, &__name {
            color: $lightGrey;
            margin: 0;
            display: block;
        }
    }
    &__picture {
        width: 80vw;
    }
}