.main {
    & article {
        // margin: 2% 15% 0 15%;
       
    }
   
    &__settings, &__rules{
        display: grid;
        grid-template-columns: 47% 47%;
        grid-template-rows: 50vh 10%;
        grid-column-gap: 6%;
        grid-row-gap: 1%;
        margin: 4% 15% 0 15%;
        

    }
    &__start {
        display: grid;
        grid-template-columns: 47% 47%;
        grid-template-rows: 30vh 10% 20vh;
        grid-column-gap: 6%;
        grid-row-gap: 1%;
        margin: 4% 15% 0 15%;
    }
    &__content {
        grid-row: 1/2;
        // justify-self: center;
        &__rules{
            
            overflow-y: scroll;
        }
        &__questions {
            grid-row: 2/3;

        }
           
    
    }
    &__questions {
        display: grid;
        grid-template-columns: 35% 35%;
        grid-template-rows: 7% 1fr 10% 10%;
        // grid-template-rows: 7% 1fr 1fr 1fr;
        grid-column-gap: 18%;
        grid-row-gap: 1%;
        margin: 1% 15% 0 15%;
        
    }
    &__button {
        grid-row: 2/3;
        grid-column-start: 1;
        margin-top: 0;
        padding: 15px 0;
        width: 375px; 
        &__first {
            grid-row: 3/4;
            padding: 0;
        }
        &__second {
            padding: 0;
            grid-row: 4/5;
        }

    }
    &__media {
        grid-column-start: 2;
        grid-row: 1/3;
        // height: 57vh;
        &__start {
            grid-row: 1/4;
        }
        &__full {
            // width: 70%;
            margin-top: 0;
            grid-row: 2/4;
            // justify-self: end;
            height: max-content;
            &-video {
                // width: 33vw;
                
            }
        }
        &__countdown {
            grid-column-start: 2;
            grid-row: 1/2;
            margin: 0;
            justify-self: end;
        }
        
        
    }
}
.play {
   
    &__text {
        
        font-size: 1vw;

    }
    &__img {
       width: 20%;
    }
}
.remember {
    width: 350px;
}